<header class="home-header flex flex--a-center flex--j-space-between">
    <h4>THIBACRIME</h4>
    <div>
        <a href="/sign-up">Resident sign up</a>
        <a href="/sign-in"><button class="btn btn--primary">Sign in</button></a>
    </div>
</header>
<section class="showcase">
    <div class="showcase__background image--back" style="background-image: url('/assets/backgrounds/background-4.jpg');"></div>
    <div class="showcase__caption">
        <h1 class="flex">
            <span>Crime management.</span>
            <span>Crime tracking.</span>
            <span>Evidence</span>
        </h1>
    </div>
</section>
<div style="padding: 2rem 20%;">
    <h1>Our vision and mission</h1>
    <p>We strive to make south africa a better place for everyone, by giving the tools and necessities to everyone and anyone who wishes to report a crime</p>

    <h1 style="margin-top: 2rem;">Why use our services</h1>
    <p>Our services are free and easy, if you detest crime and wish to put a stop a to criminal behaviour then, sign in or sign up and report on what you have witnessed so that we can combat crime together.</p>
</div>