<div class="page-container">
    <%- include('../partials/sidenav/admin') %>
        
    <div class="page-container__main page-container__main--nav-closed">
        <%- include('../partials/header/admin') %>

        <div class="page-container__main__page-title">
            <h1>Residents</h1>
        </div>

        <nav class="page-container__main__page-nav">
            <ul class="page-container__main__page-nav__ul flex flex--a-center">
                <li class="page-container__main__page-nav__ul__item">All</li>
            </ul>
        </nav>

        <div class="page-container__main__padded">
            <div class="search" style="margin-bottom: 2rem;">
                <div class="input-wrapper">
                    <input type="text" id="admin-identifier" class="input-wrapper__input" placeholder="Search">
                </div>
            </div>
            <div class="card table">
                <div class="table__header">
                    <ul class="table__header__row">
                        <li class="table__header__row__item short">#</li>
                        <li class="table__header__row__item">First name</li>
                        <li class="table__header__row__item">Last name</li>
                        <li class="table__header__row__item">Email</li>
                        <li class="table__header__row__item last-cell">Register date</li>
                    </ul>
                </div>
                <div class="table__body" id="residents"></div>
            </div>
            <div class="empty" style="display: none" id="no-residents">
                <h4>Nothing to see here.</h4>
                <p>No resident accounts at the moment.</p>
            </div>
        </div>
    </div>
</div>

<script>
    const targetPage = 'admin-residents';
</script>

