<div class="logger  flex flex--j-center">
    <div class="logger__container__background"></div>
    <div class="logger__container__main">
        <h1>Report police stations</h1>
        <p>Sign in to manage police stations and their admins.</p>
        <div class="error-container" style="margin-top: 1rem;" id="admin-sign-in-error">
            <p class="error-container__p">
                <span class="error-container__p__exclamation">Oops.</span>
                <span class="error-container__p__text"></span>
            </p>
        </div>
        <form class="card logger__container__main__form" id="admin-sign-in-form">
            <div class="card__header card__header--no-border">
                <h1>Sign in.</h1>
            </div>
            <div class="card__body">
                <div class="input-wrapper">
                    <label for="admin-email-address">Email address</label>
                    <input type="text" id="admin-email-address" class="input-wrapper__input" placeholder="admin@admin">
                </div>
                <div class="input-wrapper">
                    <label for="admin-password">Password</label>
                    <input type="password" id="admin-password" class="input-wrapper__input" placeholder="@admin1">
                    <p class="logger__container__main__form__forgot-pass">Forgot?</p>
                </div>
            </div>
            <div class="card__footer card__footer--no-border">
                <button type="submit" class="btn btn--primary">Sign in.</button>
            </div>
        </form>
    </div>
</div>

<script>
    const targetPage = 'admin-sign-in';
</script>