<header class="main-header main-header--nav-closed flex flex--a-center flex--j-space-between">
    <div class="main-header__left">
        <div class="main-header__left__bread-crumbs">
            <h3 class="flex flex--a-center">
                <span class="main-header__left__bread-crumbs__main-header">THIBACRIME</span>
            </h3>
        </div>
    </div>
    <div class="main-header__right">
        <ul class="main-header__right__ul">
            <li class="main-header__right__ul__item">
                <span><%= policeInfo.firstname + ' ' + policeInfo.lastname %></span>
            </li>
            <li class="main-header__right__ul__item"><span class="image--round image--back" style="background-image: url('/assets/uploads/profiles/blank profile.png');"></span></li>
        </ul>
    </div>
</header>